In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("./elo_1.csv")

df

                               team  elo_before    elo_after region
0                 nc_state_wolfpack      1500.0  1804.821098    NaN
1          south_carolina_gamecocks      1500.0  1794.623902  North
2                 stanford_cardinal      1500.0  1786.313460   West
3         florida_gulf_coast_eagles      1500.0  1774.602645  North
4                       ucf_knights      1500.0  1744.158822  North
..                              ...         ...          ...    ...
559          delaware_state_hornets      1500.0  1263.857908    NaN
560                 butler_bulldogs      1500.0  1257.582020    NaN
561            detroit_mercy_titans      1500.0  1255.891920    NaN
562           morehead_state_eagles      1500.0  1250.249477    NaN
563  charleston_southern_buccaneers      1500.0  1245.055500    NaN

[564 rows x 4 columns]

In [3]:
north=pd.read_csv("./North.csv")
south=pd.read_csv("./South.csv")
west=pd.read_csv("./West.csv")

In [5]:
df=pd.merge(north,df, on='team', how='left')
df=pd.merge(south,df, on='team', how='left')
df=pd.merge(west,df, on='team', how='left')

MergeError: Passing 'suffixes' which cause duplicate columns {'region_y'} is not allowed.

In [ ]:
def win_probability(elo_a, elo_b):
    return 1 / (1 + 10 ** ((elo_b - elo_a) / 400))

# 팀 A의 승리 확률 계산
p_team_A = win_probability(elo_team_A, elo_team_B)
# 팀 B의 승리 확률은 1에서 빼줌
p_team_B = 1 - p_team_A